{%extends "base.html"%}
{%block content%}
<div class="p-5 mb-4 bg-light rounded-3 row h-100">
    <div class="container-fluid py-5 text-center h-100">
      <h1 class="display-5 fw-bold">About Us </h1>
      <p class=" fs-4 " > Parenting with Passports was created to help other families travel the world. Our blog hosts useful information from us and other families about the obstacles you can face when traveling with your kids. </p>
      <img src="{{ url_for('static', filename='profile_pics/about_us_edit.jpg') }}" class="img-fluid" alt="About Us">
    </div>
</div>

{%endblock%}