{%extends "base.html"%}
{%block content%}
<form method = "POST" class ="text-center">
    {{form.hidden_tag()}}
    <div class="container h-100 mb-3 login">
        <div class="row align-items-center h-100">
            <div col-6 mx-auto>
              {% for mess in get_flashed_messages()  %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                {# prints message #}
                {{mess}}
                </div>
              {% endfor %}
                    <div class="form-floating mb-3">
                      <input  type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com" {{form.email}}  
                      <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password" {{form.password }}
                      <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit" {{form.submit}}  Login</button>
            </div>
        </div> 
    </div>
</form>
  
{% endblock %}